.controle {
	max-width: 200px;
	flex-grow: 1;
	border: 5px solid black;
	padding: 15px 10px 5px 10px;
	border-radius: 20%;
	margin: 0px 10px 10px 0px;
}

.controle .top {
	display: flex;
	padding: 10px 15px;
}

.controle .top p {
	flex-grow: 1;
}

.controle .top svg {
	height: 20px;
}

div.interruptor {
	flex-grow: 1;
	padding: 5% 15%;
	align-self: unset;
	border-top: 1px solid black;
}

.ativo {
	fill: green;
}

.inativo {
	fill: black;
}